<div class="booking-add">
<h3>Create Booking</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Booking ID</label>
      <input type="text" class="form-control" id="bookingId" required [(ngModel)]="booking.bookingId" name="bookingId">
    </div>
   
<!--     <div>
      <label for="name">From</label>
      <input type="text" class="form-control" id="From" required[(ngModel)]="booking.From" name="bookingFrom">
    </div>

    <div>
      <label for="name">To</label>
      <input type="text" class="form-control" id="To" required [(ngModel)]="booking.To" name="bookingTo">
    </div> -->

    <div class="form-group">

      <label for="name">Travel Date</label>
      <input type="date" class="form-control" id="bookingDate" required [(ngModel)]="booking.bookingDate" name="bookingDate">
 </div>
     
   
    <div class="form-group">
      <label for="name">No of Passengers</label>

      <input type="number" class="form-control" id="noOfPassengers" required [(ngModel)]="booking.noOfPassengers" name="noOfPassengers">
    </div>

    <div>
      <label for="name">Flight</label>


      <input type="text" class="form-control" id="noOfPassengers" required [(ngModel)]="booking.noOfPassengers"
        name="noOfPassengers">

    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
</div>
